body {
    font-family: Arial, sans-serif;
}

.comments {
    text-align: left;
    width: 400px;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: rgb(12, 12, 12);
    font-weight: bolder;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
    
}

.comments *{
    display: block;
}

.comments label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-comentario textarea, input {
    display: block;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    width: 90%;
    
}

#form-comentario .btn-submit{
    margin-top: 25px;
    padding: 10px;
    width: 100px;
    border-radius: 12px;

}

#form-comentario form{
    margin: 10px auto 0px auto;
    padding: 10px auto 0px auto;
}

.secComment{
    justify-content: left;
}

#dateCommit{
   font-size: 12px;
   text-align: center;
}